
.ingredients_title{
    font-weight: 600;
    font-size: 10px;
    line-height: 130%;
    margin-bottom: 4px;
}
.ingredients_list{
    font-weight: 400;
    font-size: 10px;
    line-height: 130%; 
    margin-bottom: 4px;
}
.ingredients_item{
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%
}
.ingredients_item:last-child{
    margin-bottom: 0;
}
.ingredients_calories{
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #B1B1B1
}
@media(min-width:1024px){
    .ingredients_title{
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
    }
    .ingredients_list{
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }   
    .ingredients_calories{
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
    }   
            
}