.product{
    padding: 4px;
    display: flex;
    flex-direction: column;
    background:#ffffff;
    border-radius: 12px;
    min-height: 243px;
    position: relative;

}
.product_image{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.product_price{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
}
.product_title{
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    flex-grow: 1;
    margin-bottom: 4px;
}
.product_detail{
    outline: none;

}
.product_detail:focus-visible,
.product_detail:hover{
    color: #F86310;

}
.product_detail:after{
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    outline: 1px solid #F86310;
    border-radius: 12px;
}
.product_detail:focus-visible:after{
   outline-color: #F86310;
}
.product_weight{
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #B1B1B1;
    margin-bottom: 7px;   
}
.product_add{
    background: #F2F2F3;
    border-radius: 8px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    padding: 9px;
    transition: transform .1s ease, backgraund-color .3s ease-in-out;
}
.product_add:hover{
    background-color: #FFAB08;
  }
  .product_add:focus-visible{
    background-color: #F86310;
  }
  .product_add:active{
    transform: translate(1px, 2px);
  }
  .product_add:disabled{
    background-color: #F9F9F9;
    color: #ACACAC;
  }
@media (min-width:1024px){
    .product{
        padding: 12px;
        border-radius: 18px;
        min-height: 411px;
    
    }
    .product_image{
        height: 220px;
        border-radius: 12px;
        margin-bottom: 16px;
    }
    .product_price{
        font-size: 24px;
        margin-bottom: 8px;
    }
    .product_title{
        font-size: 16px;
    }
    .product_weight{   
        font-size: 16px;
        margin-bottom: 8px;   
    }
    .product_add{
        border-radius: 12px;
        font-size: 16px;
        padding: 12px;
    }
}
